body {
    margin: 0;
    padding: 0;
    background-color: rgb(252,252,252);
    color: rgb(102,102,102);
    font-family: "PT Sans Narrow",sans-serif;
}

.my-container {
    width: 100%;
    padding: 0 0 0 0;
}

a {
    text-decoration: none;
    color: rgb(102,102,102);
}

.header.home {
    width: 100%;
    margin-top: 20px;

    text-align: center;

    background-color: white;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
}

.header.home .logo {
    width: 180px;
    height: 90px;

    vertical-align: middle;
}

.header.home .title {
    margin-left: 3%;
    vertical-align: middle;

    font-size: 32px;
}

.header.home .admin {
    margin-left: 16%;
    display: inline-block;
    height: 90px;
    padding: 0 10px;

    line-height: 90px;
    text-align: center;

    border-left: 1px solid rgba(0,0,0, 0.08);
    border-right: 1px solid rgba(0,0,0, 0.08);
    font-size: 16px;
}

.header.home .admin:hover {
    cursor: pointer;
    background-color: #4593BC;
    color: white;
}

.content {
    width: 100%;
    text-align: center;
    padding: 40px 0 80px 0;
}

.content .wrapper {
    width: 50%;
    max-width: 300px;
    margin: 0 20px;
    padding-bottom: 20px;
    display: inline-block;

    background-color: rgba(69, 147, 188, 0.08);
    border-radius: 2px;

}

.content .title {
    padding: 15px;

    font-size: 20px;
    color: rgb(102, 102, 102);
}

.content .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 16px 10px ;
    box-sizing: content-box;

    border: 4px solid rgb(69, 147, 188);
    border-radius: 52px;
}

.content .icon img {
    margin: 33px;
    width: 34px;
    height: 34px;
}

.content .login.button, .register.button {
    display: block;
    margin: 0.8em 0.8em 0.8em 0.8em;
    width: 35%;
}

.registration-textarea {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    height: 200px;
    overflow: auto;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    #registration-modal .modal-dialog {
        width: 90vw
    }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
    #registration-modal .modal-dialog {
        width: 70vw
    }
}

@media screen and (min-width: 1400px) {
    #registration-modal .modal-dialog {
        width: 50vw
    }
}

.content .login.button {
    float: left;
    margin-left: 2em;
}

.content .register.button {
    float: right;
    margin-right: 2em;
}

.footer {
    width: 100%;

    background-color: rgb( 240, 240, 240);
    border-top: 1px solid rgba(0,0,0, 0.08);

    text-align: center;
}

.footer .external {
    margin: 40px 30px;
    display: inline-block;
}

.footer img {
    height: 60px;
}

@media screen and (min-height: 700px ){

    .content {
        padding-top: 100px;
    }

    .footer {
        position: absolute;
        bottom: 40px;
    }
}

#user-role-input-group {
    width: 100%;
}
.input-group {
    margin-bottom: 0.5em;
}

/*.has-feedback .form-control-feedback.sub-element {*/
    /*top: 0px;*/
    /*right: 15px;*/
/*}*/